body {

   }
.fullscreen {
     position: relative;
}
h1{/*margin-top: 350px;*/
position: absolute;
top: 50%;
transform: translateY(-50%);
  font-family: 'Shrikhand', cursive;
width: 100%;
text-align: center;
}
html, body, .fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
}

.fullscreen {
  background-attachment: fixed; /* parallax images */
}

.fullscreen.page1 {
  background-image: url("https://media.giphy.com/media/S4X0Qour9ZfB6/giphy.gif");
     background-color: #cccccc;
}
.fullscreen.page2 {

  background-color: #B9F3C7;

    background-image: url("200w-1.gif");
    background-size: 400px 400px;
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.fullscreen.page3 {
  background-color: #F6C2EF;

  background-image: url("200w.gif");
  background size: 800px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.fullscreen.page4 {
  background-color: #F6E1C2;

  background-image: url("200-21.gif");
  background size: 800px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.fullscreen.page5 {
  background-color: # ;

  background-image: url("");
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.fullscreen.page6 {
  background-color: #;

  background-image: url("");
  background size: 800px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.fullscreen.page7 {
  background-color: #;

  background-image: url("");
  background size: 800px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.fullscreen.page8 {
  background-color: #E6E6FA;

  background-image: url("giphy copy2.gif");
  background size: 800px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
